.botonDeBorrar{
    background-color: brown;
    font-size: 20px;
    padding: 0.2vw 0.5vh;
}

.confirmation-dialog{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    height: 100px;
}

.siONo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 60px;
    height: 100px;
}

.yesNoButton{
    width: 4vw;
    height: 2vh;

}